@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border-radius: 4px;
  padding: 12px;
  background: #fafafa;
  height: 42px;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px purple;
}

.Toastify__toast {
  background: #8047f8 !important;
}
